.listContainer {
  margin: 0 1em;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.placeholder {
  cursor: pointer;
  font-family: 'Kalam', cursive;
  font-size: 1em;
  width: 12em;
  height: 12em;
  border: 5px dashed #ddd;
  border-radius: 5px;
  color: #ddd;
  background-color: transparent;
}
