.note {
  position: relative;
  cursor: pointer;
  color: #000;
  background: #ffff99;
  padding: 1em;
  box-sizing: border-box;
  transform: rotate(-1deg);
  min-height: 12em;
  width: 12em;
  margin-bottom: 2em;
  display: flex;
  align-content: center;
  align-items: center;
  transition: 0.4s;
}

.note:nth-child(2n) {
  transform: rotate(1deg);
}

.note.selected {
  transform: scale(1.2);
  z-index: 1;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  padding: 0.5em 0.85em;
  color: #555;
  font-weight: bold;
}

.close span {
  display: none;
}

.editor {
  cursor: pointer;
  font-family: 'Kalam', cursive;
  font-size: 1em;
  resize: none;
  background-color: transparent;
  border-style: none;
  box-sizing: border-box;
  outline: none;
}

.enter {
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0;
}

.enterActive {
  opacity: 1;
  height: 12em;
  min-height: 12em;
  padding: 1em;
}

.exitActive {
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
}
